#homepage
{
    padding: 2%;
    background-color: #222222;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    
    /* display: flex; */
}

#searchBar
{
    background-color: #c2bdbd;
}

#homeCard
{
    background-color: #c2bdbd;
}